%html
  %center
    %img{:height => "140px"}
  %script{:src => "../javascripts/jquery-1.8.3.min.js", :type => "text/javascript"}
  %script{:src => "../javascripts/photo_getter.js", :type => "text/javascript"}
